@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
  background-color: #ffffff;
  transition: background-color 1s;
  font-family: 'Poppins', sans-serif; 
  color: #31245C;
}
.container {
  max-width: 1320px;
  padding: 0 20px;
  margin: 0 auto;
}

.container-large {
  width: 100%;
  background-color: #31245C;
}

/* Start Preloader */

.main {
  display: none;
}


.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #007CC2;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

.loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #FFF500;
  -webkit-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
}

.loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #DA251C;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* End Preloader */

/* Start Announces*/

.announces-post {
  display: flex;
  justify-content: center;
  background-color: #31245C;
  padding: 10px 0;
  margin-bottom: 20px;
}

.announces-post a {
  font-size: 16px;
  font-style: italic;
  color: #ffffff;
}

.announces-post a:hover {
  color: #FF8700;
}

/* End Announces */


/* Start Header */

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  display: flex;
  max-width: 450px;
  box-sizing: border-box;
  column-gap: 10px;
  align-items: center;
}

.header-logo img {
  max-height: 200px;
  width: auto; 
}

.header-title {
  margin: 0;
  font-weight: 600;
  font-size: 26px;
  line-height: 100%;
  text-align: center;
}

.header-title a {
  color: #0F2A5B;
}

.nav-list {
  display: flex;
  column-gap: 20px;
  font-weight: 500;
  font-size: 18px;
  font-weight: 600;
  line-height: 100%; 
  text-transform: capitalize;
}

.nav-link {
  color: #0F2A5B;
  text-decoration: none;
  position: relative;
  transition: color 0.5s ease;
}

.nav-link::after {
  content: '';
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #FF8700;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.nav-link:hover {
  color: #FF8700;
}

.nav-link:hover::after {
  opacity: 1;
}

.social {
  display: flex;
}

.logo-social {
  font-size: 30px;
  color: #0F2A5B;
  transition: color 0.2s ease;
}

.logo-social{
  margin-left: 10px;
}

.social-icon-facebook:hover {
  color: blue;
}

.social-icon-youtube:hover {
  color: red;
}

/* End Header */

/* Start Slider */

.slider-list {
  position: relative;
  height: 600px;
  margin: 20px 0;
  background: #ffffff;
}

.slider-list .slider__item {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  clip-path: circle(0% at 0 50%);
}

.slider-list .slider__item.active {
  clip-path: circle(150.0% at 0 50%);
  transition: 2s;
  transition-property: clip-path;
}

.slider-list .slider__item img {
  object-fit: cover;
  height: 100%; 
  width: 100%; 
  border-radius: 5px;
}

.slider-list .slider__item .info {
  position: absolute;
  top: 0;
  padding: 15px 30px;

}

.slider-list .slider__item .info h2 {
  color: #fff;
  font-size: 45px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
}

.slider-list .slider__item .info p {
  color: #fff;
  background: rgba(0, 0, 0, 0.2);
  font-size: 16px;
  width: 60%;
  padding: 10px;
  border-radius: 4px;
}

.slider-list .slider-nav {
  z-index: 2;
  position: absolute;
  display: flex;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}

.slider-list .slider-nav .btn {
  background: rgba(255, 255, 255, 0.5);
  width: 12px;
  height: 12px;
  margin: 10px;
  border-radius: 50%;
  cursor: pointer;
}

.slider-list .slider-nav .btn.active {
  background: #2696E9;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}
/* End Slider */

/* Start Welcome */

.welcome-nav {
  display: flex;
  justify-content: center;
  background-color: #31245C;
  color: #fff;
  border-radius: 5px;
}

.welcome-list {
  display: flex;
  column-gap: 20px;
  padding: 20px;
}

.welcome-item {
  max-width: 230px;
  border: 2px solid #fff;
  border-radius: 10px; 
  padding: 10px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  opacity: 0.9; 
  transition: border-color 0.3s ease-in-out, opacity 0.3s ease-in-out; 
  display: flex;
  flex-direction: column;
  text-align: center;
  cursor: pointer;
}

.welcome-item:hover {
  border-color: #FF8700;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  opacity: 1; 
}

.welcome-item h2 {
  font-size: 24px;
  color: #FF8700
}

.welcome-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 24px;
}

.welcome-title p {
  color: #FF8700
}

.logo-welcome {
  font-size: 100px;
  color: #fff;
}

.logo-welcome:hover {
  color: #FF8700;
}
/* End Welcome */

/* Start News */
.news-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 0;
}

.news-title h2 {
  font-size: 32px;
}

.news-list {
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
}

.title-line__news{
  height: 3px;
  width: 260px;
  background: #0F2A5B;
}

.news-item {
  cursor: pointer;
}

.news-logo {
  overflow: hidden; 
}

.news-item img {
  transition: transform 0.3s ease-in-out;
}

.news-item:hover img {
  transform: scale(1.1); 
}

.news-item:hover h3 a {
  color: #FF8700;
}

.news-item a {
  font-size: 22px;
  transition: color 0.5s ease-in-out;
}

.news-item a:hover {
  color: #FF8700;
}

.logo-news {
  font-size: 18px;
  color: #FF8700;
}

.news-data {
  font-size: 18px;
}

.news-button {
  padding-top: 10px;
}
  
.news-button a {
  line-height:1em;
  letter-spacing:0.06em;
  font-weight:normal;
  font-size:14px;
  text-decoration:none;
  color:#fff;
  background:#0F2A5B;
  display:inline-block;
  padding:10px 10px 10px 10px;
  transition:background 200ms;
  border-radius:4px;
}
  
.news-button a:hover {
  background:#FF8700;
  color: #ffffff;
}
  
.news-button a:after {
  font-family: 'FontAwesome', sans-serif;
  font-weight:300;
  content: "\f105";
  margin-left:20px;
  color:#fff;
  font-size:16px;
  vertical-align:middle;
  transition:color 200ms;
}
  
.news-button a:hover:after {
  color:#ffffff;
}

/* End News */

/* Start Institution in Pictures */
.title-line__institution-in-pictures {
  height: 3px;
  width: 400px;
  background: #0F2A5B;
}

.box-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  overflow: hidden;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  margin: 5px;
  position: relative;
}

.box-container img {
  cursor: pointer;
  max-width: 100%;
  height: auto;
}

.column:first-child .row:nth-child(2) img,
.column:last-child .row:nth-child(2) img {
  height: calc(202%); 
}

/* End Institution in Pictures */

/* Start Parteneri */

.title-line__parteneri{
  height: 3px;
  width: 160px;
  background: #0F2A5B;
}

.parteneri-box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

/* End Parteneri */

/* Start About */

.about-list {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.about-item h4 {
  text-align: center;
  font-size: 22px;
  padding-bottom: 10px;
  color: #FF8700;
}

.about-item {
  box-sizing: border-box;
  margin-right: 10px; 
  padding: 20px;
  flex: 1; 
  max-width: 50%;
}

.about-item-2 {
  box-sizing: border-box;
  padding: 20px;
}

.about-item-2 h4 {
  text-align: center;
  font-size: 22px;
  padding-bottom: 10px;
  color: #FF8700;
}

.contact-info {
  display: flex;
  flex-direction: column;
}

.contact-item {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.contact-item:hover {
  color: #FF8700;
}

.contact-item a {
  margin-right: 10px; 
}


.about-nav-list {
  display: flex;
  justify-content: space-between;
  gap: 10px; 
  margin: 0;
  padding-bottom: 20px;
}

/* End About*/

/* Start Footer */

.footer-box {
  background-color: #31245C;
  color: #ffffff;
  font-size: 14px;
  display: flex;
  justify-content: center;
  padding: 10px 20px;
  align-items: center;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 40px;
}

.logo-social-footer {
  font-size: 30px;
  color: #ffffff;
  transition: color 0.2s ease;
}

.logo-social-footer {
  margin-left: 10px;
}

.social-icon-facebook:hover {
  color: blue;
}

.social-icon-youtube:hover {
  color: red;
}

/* End Footer */