@media (max-width: 820px) {

    /*Start Header */
    .nav__burger {
        display: block;
        position:relative;
        width: 45px;
        height: 25px;
        cursor: pointer;

    }

    .nav__burger span,
    .nav__burger::before,
    .nav__burger::after {
        position: absolute;
        left: 0;
        width: 100%;
        height: 10%;
        transition: all .3s ease;
        background-color: #0F2A5B;
    }

    .nav__burger::before,
    .nav__burger::after {
        content: '';
    }

    .nav__burger::before {
        top: 0;
    }

    .nav__burger::after{
        bottom: 0;
    }

    .nav__burger span {
        top: 44%;
        transform:  translate(0px -44%);
        
    }

    .nav__burger._active span{
        display: none;
    }

    .nav__burger._active::before {
        top: 44%;
        transform: rotate(-45deg) ;
        z-index: 3;
    }

    .nav__burger._active::after {
        bottom: 44%;
        transform: rotate(45deg) ;
        z-index: 3;
    }

    .nav {
        position: absolute;
        top: 73px;
        right: 0;
        width: 250px;
        height: auto;
        background-color: #fff;
        padding: 20px;
        transition: all .5s ease; 
        opacity: 0;
        visibility: hidden;
        padding-bottom: 20px;
        z-index: 3;
    }

    .nav._active {
        opacity: 1;
        visibility: visible;
    }

    .nav-list {
        flex-direction: column;
    }

    .nav-item {
        padding-bottom: 20px;
    }
    /*End Header */

    /* Slider Start */
    .slider-list {
        height: 375px;
    }

    .slider-list .slider__item .info {
        padding: 10px 25px;
    }

    .slider-list .slider__item .info h2 {
        font-size: 35px;
    }

    .slider-list .slider__item .info p {
        width: 70%;
        font-size: 15px;
    }

    .slider-list .slider-nav {
        bottom: 25px;
    }

    .slider-list .slider-nav .btn {
        width: 10px;
        height: 10px;
        margin: 8px;
    }
    /* Slider End */

    /* Start Welcome */
    .welcome-nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .welcome-title,
    .welcome-item {
        text-align: center;
        margin-top: 20px;
    }

    .welcome-title {
        order: -1;
    }

    .welcome-item {
        order: 2;
    }
    /* End Welcome */

    /* Start News */
    .news-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        gap: 20px; 
    }

    .news-item {
        width: 100%; 
    }
    /* End News */

    /* Start About */ 
    
    /* End About*/
}

@media (max-width: 620px) {
    /* Slider Start */
    .slider-list {
        height: 250px;
    }

    .slider-list .slider__item .info {
        padding: 10px 20px;
    }

    .slider-list .slider__item .info h2 {
        font-size: 35px;
    }

    .slider-list .slider__item .info p {
        width: 80%;
        font-size: 13px;
    }

    .slider-list .slider-nav {
        bottom: 15px;
    }

    .slider-list .slider-nav .btn {
        width: 8px;
        height: 8px;
        margin: 6px;
    }
    /* Slider End */
}

@media (max-width: 420px) {
    /* Slider Start */
    .slider-list {
        height: 200px;
    }

    .slider-list .slider__item .info {
        padding: 5px 10px;
    }

    .slider-list .slider__item .info h2 {
        font-size: 25px;
    }

    .slider-list .slider__item .info p {
        width: 90%;
        font-size: 11px;
    }

    .slider-list .slider-nav {
        bottom: 10px;
    }
    /* Slider End */
}